@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Caveat:wght@400..700&family=Oxanium:wght@200..800&display=swap');


.alumni-sans-pinstripe-regular {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .alumni-sans-pinstripe-regular-italic {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  

.caveat-400 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.oxanium-700 {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

* {
    --bg-color: #121212;
    --main-ui-color: #00fffa;

    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#greeting-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .5;
}

.data-container {
    width: 100%;
    height: 100vh;
}

.data-container--inner {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#greeting-main-text {
    color: #fff;
    font-size: 61pt;
}

#greeting-subtext {
    color: #aaa;
    font-size: 21pt;
}

#greeting-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

#navbar--inner {
    display: flex;
    align-items: center;
}

.nav-btn {
    color: #ccc;
    font-size: 27pt;
    text-transform: uppercase;
    margin-right: 20px;
    transition: color .2s, padding .15s;
    cursor: pointer;
}

.nav-btn--active {
    color: var(--main-ui-color);
}

.nav-btn:hover {
    color: #fff;
    padding: 0 10px;
}

.nav-btn--active:hover {
    color: var(--main-ui-color);
    padding: 0;
}