<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NDev</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="!{css:index}"/>

        <script src="https://webglfundamentals.org/webgl/resources/webgl-utils.js"></script>
        <script src="https://webglfundamentals.org/webgl/lessons/resources/3d-math.js"></script>

        <script src="!{js:index}"></script>
        <script src="!{js:effects}"></script>
    </head>
    <body>
        <div class="data-container">
            <img id="greeting-bg" src="!{images:greeting-bg}" alt="">
            <canvas id="canvas" width="1920" height="1080"></canvas>
            <div id="greeting-container" class="data-container--inner">
                <h1 id="greeting-main-text" class="oxanium-700">NDev</h1>
                <p id="greeting-subtext" class="caveat-400">Power of dreams</p>
            </div>
        </div>
        
        <nav id="navbar">
            <div class="data-container--inner" id="navbar--inner">
                <p class="nav-btn nav-btn--active alumni-sans-pinstripe-regular" id="nav-btn--home">Home</p>
                <p class="nav-btn alumni-sans-pinstripe-regular" id="nav-btn--about">About</p>
                <p class="nav-btn alumni-sans-pinstripe-regular" id="nav-btn--apps">Apps</p>
            </div>
        </nav>
    </body>
</html>